// Fonts
$font-family-body = "Menlo", "Meslo LG", PingFang SC, Microsoft Yahei
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 18px
$line-height = 1.725

// Colors

// Color - Base
$color-orange-gray = #e3e1dc
$color-brand = #e6195d
$color-accent-comp = rgba(43, 188, 138, 1)
$color-accent = $color-accent-comp

// Color - Ins
$color-background = $color-orange-gray
$color-link = $color-accent-comp

$color-text = #363533
$color-light = #333333
$color-lightest = #111111
$color-quote = #bf154e
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
