.content.page
  display: flex
  flex-direction: column
  // max-width: 90%
  align-items: center
  overflow-x: hidden
  padding-bottom: 0rem

  @media (min-width: 480px)
    padding-bottom: 12rem
    justify-content: center

  .slides
    padding: 0 6rem

    h1, .h1
      font-family: $font-family-chinese
      font-weight: 300

    h2, .h2
      color: $color-brand

    p, li
      font-size: 16px

    .story
      > :first-child
        margin-top: 2rem

    ul
      margin-top: 1em
      list-style: none
      text-align: right

    .story-origin
      #story-origin-perform
        margin: 5px 0
        width: 300px
        height: 160px
        user-select: none

    .story-snowfall-space
      video
        width: 300px
        height: 160px

      ul
        margin-top: 0.55em
